@model Slider

<div class="container-fluid">
<h1>Create</h1>
<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title1</label>
        <input asp-for="Title1" class="form-control"  >
        <span asp-validation-for="Title1" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title2</label>
        <input asp-for="Title2" class="form-control">
            <span asp-validation-for="Title2" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Desc</label>
        <input asp-for="Desc" class="form-control">
            <span asp-validation-for="Desc" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">RedirectUrl</label>
        <input asp-for="RedirectUrl" class="form-control">
            <span asp-validation-for="RedirectUrl" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">ImageUrl</label>
        <input asp-for="ImageUrl" class="form-control">
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>
