@model Product
@{
    List<Category> categories = ViewBag.Categories;
}
<div class="container-fluid">
    <h1>Create</h1>
    <form method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Desc</label>
            <input asp-for="Desc" class="form-control">
            <span asp-validation-for="Desc" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Client</label>
            <input asp-for="Client" class="form-control">
            <span asp-validation-for="Client" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ProjectUrl</label>
            <input asp-for="ProjectUrl" class="form-control">
            <span asp-validation-for="ProjectUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Category</label>
            <select asp-for="CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))"></select>
           @*  <select>
                @foreach (var item in categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select> *@
            <span asp-validation-for="ProjectUrl" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
